<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="divider-vertical"><a href="#">New Folder</a></li>
      <li class="divider-vertical"><a href="#">New File</a></li>
    </ul>
  </div>
</div>
<div class="span11">
  <table class="table table-hover table-striped">
    <tbody>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Last Update</th>
      </tr>
      <tr>
          <td>1</td>
          <td>test</td>
          <td><%= DateTime.now %></td>
      </tr>
    </tbody>
  </table>
</div>
