<div class="hero-unit span12">
  <h1>Welcome to Kakau</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
</div>
<div class="span12">
  <div class="row">
      <div class="span6">
        <h1>Register</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        <p><%= link_to 'Register',new_user_registration_path,:class=>'btn btn-large' %></p>
      </div>
      <div class="span5">
        <% if user_signed_in? then %>
          <h1><Welcome <%= current_user.username %></h1>
          <%= link_to 'Logout', destroy_user_session_path, :class=>'btn btn-large',:method=>:delete%>
        <% else %>
          <%= link_to 'Login', new_user_session_path, :class=>'btn btn-large' %>
        <% end %>
      </div>
  </div>
</div>
